.i-am {
width: 30%;
border-radius: none;
box-shadow: none;
filter: none;
}

.empty {
width: 30%;
border-radius: none;
box-shadow: none;
filter: none;
}

.empty-2 {
width: 30%;
border: 1;
border-radius: 0;
box-shadow: none;
filter: none;
}
